html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Colours */
/* Typography */
/* Declaring system font as font-face */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma"); }
/* Transition Mixin */
/* opacity Mixin */
/* Unit Size conversion to em */
/* General */
html {
  font-size: 16px; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  background-color: #fff;
  color: #333;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 1rem; }

h1 {
  font-size: 5rem; }

h2 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px; }

a {
  color: #fe6c10;
  text-decoration: none;
  display: inline-block;
  position: relative; }
  a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 0%;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
    background-color: rgba(254, 108, 16, 0.1);
    z-index: 50;
    border-bottom: 1px solid #fe6c10; }
    @media screen and (max-width: 480px) {
      a:before {
        display: none; } }
  a:hover:before {
    width: 100%; }
    @media screen and (max-width: 480px) {
      a:hover:before {
        width: 0;
        display: none; } }

/* SVG Animations */
@keyframes swagIn {
  0% {
    transform: skew(0, 6deg) translate(0, 16px);
    display: none;
    opacity: 0; }
  40% {
    display: block;
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeInUp {
  0% {
    transform: skew(0, 2deg) translate(0, 24px);
    display: none;
    opacity: 0; }
  40% {
    display: block; }
  100% {
    opacity: 1; } }
@keyframes bounceIn {
  0% {
    transform: translate(-12px, -24px) scale(0.2) rotate(90deg) skew(5deg, 5deg);
    opacity: 0; }
  100% {
    opacity: .5; } }
.swagIn {
  animation: swagIn .8s ease-in-out 1 forwards; }

.fadeInUp {
  animation: fadeInUp .8s ease-in-out 1 forwards; }

.bounceIn {
  animation: bounceIn .8s ease-in-out 1 forwards; }

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0 2rem; }
  .container::after {
    clear: both;
    content: "";
    display: block; }

.logo {
  line-height: 0;
  opacity: 0; }

.hero {
  padding: 4.5rem 0;
  border-bottom: 1px solid #eaeaea; }
  .hero .mainBlurb {
    max-width: 31.25rem;
    color: #1D1E26;
    font-weight: 600;
    padding-top: 5rem;
    opacity: 0; }
  .hero .details {
    font-size: 2.375rem;
    max-width: 51.5rem;
    line-height: 1.5;
    font-weight: 300;
    opacity: 0; }
  .hero .divider {
    margin-left: 0.75rem; }

.footer {
  padding: 4.5rem 2rem;
  opacity: 0; }
  .footer .contactus, .footer .location {
    float: left;
    display: block;
    margin-right: 1.9374068554%;
    width: 23.5469448584%;
    font-weight: 1.125rem;
    line-height: 1.5; }
    .footer .contactus:last-child, .footer .location:last-child {
      margin-right: 0; }
    @media screen and (max-width: 920px) {
      .footer .contactus, .footer .location {
        float: left;
        display: block;
        margin-right: 2.934537246%;
        width: 48.532731377%; }
        .footer .contactus:last-child, .footer .location:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 480px) {
      .footer .contactus, .footer .location {
        display: block;
        float: none;
        margin: 0;
        width: 100%;
        margin-bottom: 16px; } }
    .footer .contactus a, .footer .location a {
      display: block; }

.svgContainer {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  display: none; }
  .svgContainer #svgLines {
    fill: #fe6c10; }
  .svgContainer.triangle {
    top: 40%;
    left: -0.75rem; }
  .svgContainer.pipe {
    top: 15rem;
    left: 45%; }
  .svgContainer.disc {
    bottom: 2.5rem; }
  .svgContainer.diamond {
    right: 15rem;
    top: 50%; }
  .svgContainer.cylinder {
    left: 25%;
    bottom: 12.5rem; }

@media screen and (max-width: 800px) {
  html {
    font-size: 80%; } }
@media screen and (max-width: 480px) {
  html {
    font-size: 50%; } }

/*# sourceMappingURL=main.css.map */
