@import "grid-settings";
@import "neat/neat";
@import "reset";
@import "var";



// .container {
//   @include outer-container;
//   background-color: red;

//   .whatever {
//      @include span-columns(6);
//   }
// }



// .checking {
// 	@include outer-container;

// 	.check {
// 		@include span-columns(4);
// 	} 
// }


html {
	font-size: 16px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    background-color: $bkgrndColor;
    color: $bodyColor;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	line-height: 1.25;
	margin-bottom: rem(16);
}

h1 {	
	font-size: rem(80);
}

h2 {
	font-size: rem(28);
}

h3 {
	font-size: rem(24);
}

h4 {
	font-size: rem(20);
}

h5 {
	font-size: rem(16);
}

h6 {
	font-size: rem(12);
	text-transform: uppercase;
	letter-spacing: 1px;
}

a {
	color: $linkColor;
	text-decoration: none;
	display:inline-block;
	position: relative;

	&:before {
	    content: '';
	    display: block;
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    height: 100%;
	    width: 0%;
	    -webkit-transition: width 0.3s ease;
	    -moz-transition: width 0.3s ease;
	    -ms-transition: width 0.3s ease;
	    -o-transition: width 0.3s ease;
	    transition: width 0.3s ease;
	    background-color: rgba(254,108,16, .1);
	    z-index: 50;
	    border-bottom: 1px solid $linkColor;

	    @include media($mobile) {
	    	display: none;
	    }
	}

	&:hover {

		&:before {
			width: 100%;

			@include media($mobile) {
				width: 0;
		    	display: none;
		    }
		}
	}
}



/* SVG Animations */

@keyframes swagIn {
  0% {
    transform: skew(0, 6deg) translate(0, 16px);
    display: none;
    opacity: 0;
  }

  40% {
  	display: block;
  	opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    transform: skew(0, 2deg) translate(0, 24px);
    display: none;
    opacity: 0;
  }

  40% {
  	display: block;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes bounceIn {
  0% {
    transform: translate(-12px, -24px) scale(.2) rotate(90deg) skew(5deg, 5deg);
    opacity: 0;
  }
  100% {
    //transform: scale(1) rotate(0deg) skew(0deg, 0deg);
    opacity: .5;
  }
}

.swagIn {
	animation: swagIn .8s ease-in-out 1 forwards;
}

.fadeInUp {
	animation: fadeInUp .8s ease-in-out 1 forwards;
}

.bounceIn {
	animation: bounceIn .8s ease-in-out 1 forwards;
}




.container {
	@include outer-container;
	position: relative;
	padding: 0 rem(32);
}

.logo {
	line-height: 0;
	opacity: 0;
	//animation: fadeIn .8s .3;
}

.hero {
	padding: rem(72) 0;
	border-bottom: 1px solid $borderColor;
	
	.mainBlurb {
		max-width: rem(500);
		color: $primaryColor;
		font-weight: 600;
		padding-top: rem(80);
		opacity: 0;
	}

	.details {
		font-size: rem(38);
		max-width: rem(824);
		line-height: 1.5;
		font-weight: 300;
		opacity: 0;
	}

	.divider {
		margin-left: rem(12);
	}
}


.footer {
	padding: rem(72) rem(32);
	opacity: 0;

	.contactus, .location {
		@include span-columns(3);
		font-weight: rem(18);
		line-height: 1.5;

		@include media($tablet) {
			@include span-columns(4)
		}

		@include media($mobile) {
			display: block;
		    float: none;
		    margin: 0;
		    width: 100%;
		    margin-bottom: 16px;
		}

		a {
			display: block;
			// @include span-columns(4);
		}

	}


	.contactus {

	}
}


.svgContainer {
	position: absolute;
	z-index: 1000;
	opacity: 0;
	display: none;

	#svgLines{
		fill:  $linkColor;
	}


	&.triangle {
		top: 40%;
		left: rem(-12);
	}

	&.pipe {
		top: rem(240);
		left: 45%;
	}

	&.disc {
		bottom: rem(40);
	}

	&.diamond {
		right: rem(240);
		top: 50%;
	}

	&.cylinder {
		left: 25%;
		bottom: rem(200);
	}
}


@media screen and (max-width: 800px) {
	html {
		font-size: 80%;
	}
}

@media screen and (max-width: 480px) {
	html {
		font-size: 50%;
	}

}